<div class="row">
    <div class="login-bg">
        <div class="">
            <h1 class="Sign-In-Header">Update BOOK HERE</h1>
        </div>
        <form class="form_style" [formGroup]="updateForm" (ngSubmit)="updateBook()">
            <!-- <img src="assets/images/img-1.jpg"> -->
            <div class="input-box">
                <span><i class="fa fa-book"></i></span>
                <input type="text" placeholder="Enter Book Name" required formControlName="bookName">
            </div>
            <div class="input-box">
                <span><i class="fa fa-inr"></i></span>
                <input type="text" placeholder="Enter Book Price" required formControlName="bookPrice">
            </div>
            <div class="input-box">
                <span><i class="fa fa-address-book"></i></span>
                <input type="text" placeholder="Enter Book Description" required formControlName="desBook">
            </div>
            <div class="d-flex">
                <button type="submit"><i class="fa fa-sign-in"></i>Update Book</button>
            </div>
        </form>
    </div>
</div>
