<div class="w-100">
    <nav class="navbar navbar-expand-lg heading-section global_background">
        <div style="width: 40%;">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="Bank Logo" class="logoImg" />
            </a>
        </div>
        <div class="menu">
            <a [routerLink]="'about-dashboard/aboutus'">Admin</a>
            <a [routerLink]="'about-dashboard/aboutus'">Service</a>
            <a [routerLink]="'books-shop/book-list'">Books Show</a>
            <a [routerLink]="'books-shop/add-book'">Add Book</a>
            <a [routerLink]="'studentFeeManagement/student-fees'">SFMS</a>
            <a [routerLink]="'hotel-management/hotel-dashboard'">RMSD</a>
            <a [routerLink]="'about-dashboard/aboutus'">About Us</a>
            <a [routerLink]="'about-dashboard/contactus'">Contact Us</a>
            <a [routerLink]="'/login'">Forgot Password</a>
        </div>
    </nav>
</div>