<!-- <div class="w-100">
    <nav class="navbar navbar-expand-lg heading-section global_background">
        <div style="width: 40%;">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="Bank Logo" class="logoImg" />
            </a>
        </div>
        <div class="menu">
            <a ([routerLink]="'book-list'")>Show Book</a>
            <a [routerLink]="'/add-book'">Add Book</a>
            <a [routerLink]="'/add-book'">Add Book</a>
            <a [routerLink]="'/add-book'">Add Book</a>
            <a [routerLink]="'/add-book'">Add Book</a>
        </div>
    </nav>
</div> -->
